<template>
  <v-card flat class="pa-4" style="margin-top:100px;">
    <v-container fluid>
      <v-layout column>
        <v-flex class="title text-xs-center">LOGIN TO YOUR ACCOUNT</v-flex>
        <v-flex class="mt-4">
          <v-form @submit.prevent="signin" ref="form">
            <v-text-field
              v-model="user.email"
              :rules="rules.email"
              prepend-icon="email"
              name="email"
              label="E-mail"
              type="email"
              required
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :rules="rules.password"
              prepend-icon="lock"
              name="password"
              label="Password"
              type="password"
              required
              :error-messages="errors.password"
              @input="errors.password = []"
            ></v-text-field>
            <v-checkbox v-model="user.remember" label="Remember Me"></v-checkbox>
            <v-btn color="primary" block type="submit">Login</v-btn>
          </v-form>
        </v-flex>
        <v-flex class="text-xs-center py-3">
          <div>Don't have an account?</div>
          <router-link to="/account/signup">Create an account</router-link>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    user: {
      email: undefined,
      password: "",
      remember: false
    },
    rules: {
      email: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      password: [v => !!v || "Password is required"]
    },
    errors: {
      password: []
    }
  }),
  methods: {
    async signin(e) {
      if (this.$refs.form.validate()) {
        try {
          await this.$api.signin({ data: this.user });
          this.$router.push("/");
        } catch (error) {
          this.errors.password.push("Invalid email or password");
        }
      }
    }
  }
};
</script>