<template>
  <v-card flat class="pa-4" style="margin-top:100px;">
    <v-container fluid>
      <v-layout column>
        <v-flex class="title text-xs-center">CREATE AN ACCOUNT</v-flex>
        <v-flex class="mt-4">
          <v-form @submit.prevent="signup" ref="form">
            <v-text-field
              v-model="user.name"
              :rules="rules.name"
              prepend-icon="person"
              name="name"
              label="Name"
              type="text"
            ></v-text-field>
            <v-text-field
              v-model="user.email"
              :rules="rules.email"
              prepend-icon="email"
              name="email"
              label="E-mail"
              type="email"
              required
              :error-messages="errors.email"
            ></v-text-field>
            <v-text-field
              v-model="user.password"
              :rules="rules.password"
              id="password"
              prepend-icon="lock"
              name="password"
              label="Password"
              type="password"
            ></v-text-field>
            <v-btn color="primary" block type="submit">Create an account</v-btn>
          </v-form>
        </v-flex>
        <v-flex class="text-xs-center py-3">
          <div>Already have an account?</div>
          <router-link to="/account/signin">Login</router-link>
        </v-flex>
      </v-layout>
    </v-container>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    user: { name: "", email: "", password: "" },
    rules: {
      name: [v => !!v || "Name is required"],
      email: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      password: [v => !!v || "Password is required"]
    },
    errors: {
      email: []
    }
  }),
  methods: {
    async signup() {
      if (this.$refs.form.validate()) {
        try {
          await this.$api.signup({ data: this.user });
          this.$router.push("/");
        } catch (error) {
          this.errors.email.push(error.message);
        }
      }
    }
  }
};
</script>