<template>
  <div>
    <v-text-field label="Origin Password"></v-text-field>
    <v-text-field label="New Password"></v-text-field>
    <v-btn color="primary">
      <v-icon>save</v-icon>&nbsp;Save
    </v-btn>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
