<template>
  <v-toolbar color="primary" dense dark fixed app>
    <v-spacer></v-spacer>
    <v-toolbar-title class="body-2">{{info.e_name}}</v-toolbar-title>
    <v-menu nudge-bottom="45" left>
      <v-btn slot="activator" dark icon>
        <v-avatar size="32px">
          <img :src="require('@/assets/avatar.jpg')">
        </v-avatar>
      </v-btn>
      <v-list dense>
        <v-list-tile to="/enterprise">
          <v-list-tile-action>
            <v-icon>autorenew</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Enterprise</v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/setting/profile">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Settings</v-list-tile-content>
        </v-list-tile>
        <v-divider></v-divider>
        <v-list-tile @click="handleLogout">
          <v-list-tile-action>
            <v-icon>exit_to_app</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>Logout</v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-menu>
    <v-tabs slot="extension" color="white" max="100" fixed-tabs light>
      <v-tab key="dashboard" to="/dashboard">Dashboard</v-tab>
      <v-tab key="project" to="/project">Project</v-tab>
      <v-tab key="talent" to="/talent">Talent</v-tab>
      <v-tab key="company" to="/company">Company</v-tab>
      <v-tab key="statistics" to="/statistics">Statistics</v-tab>
      <v-tab key="setting" to="/setting">Setting</v-tab>
    </v-tabs>
  </v-toolbar>
</template>

<script>
export default {
  data: () => ({ info: {} }),
  methods: {
    handleLogout() {
      this.$token.clear();
      this.$router.push("/account/signin");
    }
  },
  mounted() {
    if (!this.$token.authorized()) {
      this.$token.clear();
      this.$router.push("/account/signin");
      return;
    }

    if (!this.$token.enterpriseAuthorized()) {
      this.$router.push("/enterprise");
      return;
    }

    this.info = this.$token.decode();
  }
};
</script>

<style>
</style>
