<template>
  <v-card>
    <v-toolbar card color="primary" dark>
      <v-text-field
        flat
        hide-details
        solo
        prepend-inner-icon="search"
        label="Search"
        light
        clearable
      ></v-text-field>
      <v-btn flat @click.stop="$refs.company_dialog.show()">Create</v-btn>
      <v-btn
        flat
        :disabled="selected.length === 0"
        @click="$refs.delete_dialog.show({items:selected})"
      >Delete</v-btn>
      <v-btn flat>Search</v-btn>
    </v-toolbar>
    <v-data-table
      v-model="selected"
      :headers="headers"
      :items="data.items"
      :total-items="data.total"
      item-key="id"
      :rows-per-page-items="[10, 25, 50]"
      :loading="loading"
      select-all
      disable-initial-sort
      @update:pagination="loadItems"
    >
      <template slot="items" slot-scope="props">
        <td>
          <v-checkbox v-model="props.selected" hide-details></v-checkbox>
        </td>
        <td>{{props.item.name}}</td>
        <td>
          <v-icon
            small
            class="mx-1"
            @click="$refs.company_dialog.show({item:props.item, title:`Edit Company ${props.item.englishName}`})"
          >edit</v-icon>
          <v-icon small class="mx-1" @click="$refs.delete_dialog.show({item:props.item})">delete</v-icon>
        </td>
      </template>
    </v-data-table>
    <app-dialog-delete ref="delete_dialog" @ok="onDeleteCompany"></app-dialog-delete>
    <app-dialog-company ref="company_dialog" @ok="onCompanyOk"></app-dialog-company>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    data: {},
    selected: [],
    headers: [
      { text: "Name", value: "Name" },
      { text: "Actions", sortable: false }
    ]
  }),
  methods: {
    async loadItems({
      descending,
      page = 1,
      rowsPerPage = 10,
      sortBy,
      totalItems = 0
    } = {}) {
      this.loading = true;
      this.data = await this.$api.company.queryPage({
        query: {
          sort: descending ? "desc" : "asc",
          sortBy,
          page,
          size: rowsPerPage
        }
      });
      this.loading = false;
    },
    async onDeleteCompany({ item, items, close }) {
      if (item) {
        await this.$api.company.delete({ query: { id: item.id } });
      }

      if (items) {
        await this.$api.company.deleteBatch({
          query: { ids: items.map(x => x.id) }
        });
      }

      await this.loadItems();
      close();
    },
    async onCompanyOk({ origin, item, close }) {
      if (origin) {
        await this.$api.company.update({
          query: { id: origin.id },
          data: item
        });
      } else {
        await this.$api.company.create({ data: item });
      }

      await this.loadItems();
      close();
    }
  }
};
</script>
