<template>
  <div>
    <v-btn color="primary" @click.stop="onShowNodeDialog">Node Dialog</v-btn>
    <v-btn color="primary" @click.stop="onShowDeleteDialog">Delete Dialog</v-btn>
    <v-btn color="primary" @click.stop="onShowNodeSelect">Node Select</v-btn>
    <v-btn color="primary" @click.stop="onShowNodeSelect({multiple:true})">Multiple Node Select</v-btn>
    <v-btn color="primary" @click.stop="$refs.talent_dialog.show()">Talent Dialog</v-btn>
    <v-btn color="primary" @click.stop="$refs.company_dialog.show()">Company Dialog</v-btn>
    <v-btn color="primary" @click.stop="$refs.project_dialog.show()">Project Dialog</v-btn>
    <v-btn color="primary" @click.stop="$refs.company_select.show()">Company Select</v-btn>
    <v-btn
      color="primary"
      @click.stop="$refs.company_select.show({multiple:true})"
    >Multiple Company Select</v-btn>

    <app-dialog-node ref="node_dialog" @ok="onNodeOk"/>
    <app-dialog-delete ref="delete_dialog" @ok="onDeleteOk"/>
    <app-dialog-select-node ref="node_select" @ok="onNodeOk"/>
    <app-dialog-talent ref="talent_dialog" @ok="onTalentOk"/>
    <app-dialog-company ref="company_dialog" @ok="onCompanyOk"/>
    <app-dialog-project ref="project_dialog" @ok="onProjectOk"/>
    <app-dialog-select-company ref="company_select" @ok="onCompanySelected"/>
  </div>
</template>

<script>
export default {
  methods: {
    onShowNodeDialog() {
      this.$refs.node_dialog.show();
    },
    onShowDeleteDialog() {
      this.$refs.delete_dialog.show();
    },
    onDeleteOk({ close }) {
      close();
    },
    async onShowNodeSelect({ multiple = false } = {}) {
      const items = await this.$api.industry.nodes();
      this.$refs.node_select.show({ items, multiple, title: "Custom Title" });
    },
    onNodeOk({ selected, close }) {
      console.log(selected);
      close();
    },
    onTalentOk({ origin, item, close }) {
      close();
    },
    onCompanyOk({ close }) {
      close();
    },
    onProjectOk({ item, close }) {
      console.log(JSON.stringify(item));
      close();
    },
    onCompanySelected({ selected, close }) {
      console.log(selected);
      close();
    }
  }
};
</script>

<style>
</style>
