<template>
  <v-app>
    <v-toolbar color="primary" dense dark fixed app>
      <v-spacer></v-spacer>
      <v-menu nudge-bottom="45" left>
        <v-btn slot="activator" dark icon>
          <v-avatar size="32px">
            <img src="https://randomuser.me/api/portraits/men/85.jpg">
          </v-avatar>
        </v-btn>
        <v-list dense>
          <v-list-tile @click="handleLogout">
            <v-list-tile-action>
              <v-icon>exit_to_app</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>Logout</v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar>
    <v-content>
      <v-container fluid>
        <v-card>
          <v-toolbar card>
            <v-text-field
              flat
              hide-details
              solo
              prepend-inner-icon="search"
              label="Search"
              class="hidden-sm-and-down"
            ></v-text-field>
            <v-btn flat @click.stop="onShowCreate()">Create</v-btn>
          </v-toolbar>
        </v-card>
        <br>
        <v-container fluid grid-list-lg pa-0>
          <v-layout row wrap>
            <v-flex sm6 md4 lg3 v-for="item in items" :key="item.id">
              <v-card>
                <v-img
                  :src="require('@/assets/sunshine.jpg')"
                  height="100px"
                  @click="handleSignInEnterprise(item)"
                  style="cursor:pointer;"
                >
                  <v-container fill-height fluid pa-2>
                    <v-layout fill-height>
                      <v-flex xs12 align-end flexbox>
                        <span class="headline white--text">{{item.name}}</span>
                      </v-flex>
                    </v-layout>
                  </v-container>
                </v-img>
                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn icon small>
                    <v-icon @click="onShowEdit(item)">edit</v-icon>
                  </v-btn>
                  <v-btn icon small>
                    <v-icon @click="onShowDelete(item)">delete</v-icon>
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-container>
    </v-content>
    <app-dialog-enterprise ref="enterprise" @ok="onEnterpriseOk"></app-dialog-enterprise>
    <app-dialog-delete ref="delete" @ok="onDeleteOk"></app-dialog-delete>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    create: false,
    items: []
  }),
  methods: {
    async loadItems() {
      this.items = await this.$api.enterprise.queryAll();
    },
    onShowCreate() {
      this.$refs.enterprise.show();
    },
    onShowEdit(item) {
      this.$refs.enterprise.show({ item });
    },
    async onEnterpriseOk({ origin, item, close }) {
      if (!origin) {
        await this.$api.enterprise.create({ data: item });
      } else {
        await this.$api.enterprise.update({
          query: { id: origin.id },
          data: item
        });
      }
      await this.loadItems();
      close();
    },
    async onShowDelete(item) {
      this.$refs.delete.show({ item });
    },
    async onDeleteOk({ item, close }) {
      await this.$api.enterprise.delete({ query: { id: item.id } });
      await this.loadItems();
      close();
    },
    async handleSignInEnterprise(item) {
      await this.$api.signinEnterprise({
        data: { enterpriseId: item.id, expiresIn: this.$token.expiresIn() }
      });
      this.$router.push("/");
    },
    handleLogout() {
      this.$token.clear();
      this.$router.push("/account/signin");
    }
  },
  async mounted() {
    if (!this.$token.authorized()) {
      this.$token.clear();
      this.$router.push("/account/signin");
    }
    await this.loadItems();
  }
};
</script>

<style>
</style>
