<template>
  <v-card flat>
    <v-toolbar card color="primary" dark>
      <v-text-field flat hide-details solo prepend-inner-icon="search" label="Search" light></v-text-field>
      <v-btn flat @click.stop="onShowCreateNode()">Create</v-btn>
    </v-toolbar>
    <v-treeview :items="items" item-key="id" hoverable transition>
      <template slot="append" slot-scope="{ item, open, leaf }">
        <v-icon small class="mx-1" @click="onShowCreateNode({parent:item})">add</v-icon>
        <v-icon small class="mx-1" @click="onShowEditNode({item})">edit</v-icon>
        <v-icon small class="mx-1" @click="onShowDeleteNode({item})">delete</v-icon>
      </template>
    </v-treeview>
    <app-dialog-node ref="node" @ok="onNodeOk"></app-dialog-node>
    <app-dialog-delete ref="delete" @ok="onDeleteOk"></app-dialog-delete>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    items: []
  }),
  methods: {
    async loadItems() {
      this.items = await this.$api.industry.nodes();
    },
    onShowCreateNode({ parent } = {}) {
      this.$refs.node.show({ title: "Create Industry", parent });
    },
    onShowEditNode({ item }) {
      this.$refs.node.show({ title: "Edit Industry", item });
    },
    async onNodeOk({ origin, item, parent, close }) {
      if (!origin) {
        const { id: parentId } = parent || {};
        await this.$api.industry.create({ data: { ...item, parentId } });
      } else {
        await this.$api.industry.update({
          query: { id: origin.id },
          data: item
        });
      }
      await this.loadItems();
      close();
    },
    onShowDeleteNode({ item }) {
      this.$refs.delete.show({ item });
    },
    async onDeleteOk({ item, close }) {
      await this.$api.industry.delete({ query: { id: item.id } });
      await this.loadItems();
      close();
    }
  },
  async mounted() {
    await this.loadItems();
  }
};
</script>
