<template>
  <div>
    <v-card>
      <v-toolbar card>
        <v-text-field
          flat
          hide-details
          solo
          prepend-inner-icon="search"
          label="Search"
          class="hidden-sm-and-down"
        ></v-text-field>
        <v-btn flat @click.stop="dialog = !dialog">Create</v-btn>
      </v-toolbar>
    </v-card>
    <br>
    <v-container grid-list-md pa-0>
      <v-layout row wrap>
        <v-flex sm6 md4 lg3 v-for="item in [1,2,3,4,5]" :key="item">
          <v-card>
            <v-img :src="require('@/assets/sunshine.jpg')" height="100px">
              <v-container fill-height fluid pa-2>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline white--text">Administrator</span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn icon>
                <v-icon>edit</v-icon>
              </v-btn>
              <v-btn icon>
                <v-icon color="error">delete</v-icon>
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>
