<template>
  <router-view></router-view>
</template>

<script>
export default {
  methods: {}
};
</script>

<style lang="scss">
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
  background-color: #ccc;
}
a {
  text-decoration: none;
}
</style>
