<template>
  <v-app>
    <v-content class="background" :style="background">
      <div style="padding:100px 80px;">
        <div>
          <img src="../assets/logo.png" alt="logo" width="100">
        </div>
        <div class="display-1 mt-5 white--text">Welcome to the Reythink!</div>
        <div class="mt-2 white--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ullamcorper nisl erat, vel convallis elit fermentum pellentesque. Sed mollis velit facilisis facilisis viverra.</div>
      </div>
    </v-content>
    <v-navigation-drawer permanent app fixed right width="400">
      <router-view></router-view>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    background: {
      background: `url("${require("../assets/backgrounds/dark-material-bg.jpg")}") no-repeat`
    }
  })
};
</script>

<style lang="scss">
.background {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
}
</style>

