<template>
  <v-app>
    <app-toolbar-main></app-toolbar-main>
    <v-content>
      <v-container fluid style="height:100%;">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {};
</script>
