<template>
  <v-card style="height:100%">
    <v-navigation-drawer v-model="drawer" permanent absolute>
      <v-toolbar flat class="transparent">
        <v-list class="pa-0">
          <v-list-tile avatar>
            <v-list-tile-avatar>
              <img :src="require('@/assets/avatar.jpg')">
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>John Leider</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-toolbar>
      <v-divider></v-divider>
      <v-list class="pt-0" dense>
        <template v-for="item in items">
          <v-list-group v-if="item.children" :key="item.title">
            <v-list-tile slot="activator">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-title>{{item.title}}</v-list-tile-title>
            </v-list-tile>
            <v-list-tile v-for="item in item.children" :key="item.title" :to="item.path">
              <v-list-tile-action>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{ item.title }}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </v-list-group>
          <v-list-tile v-else :key="item.title" :to="item.path">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>{{ item.title }}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-card-text style="padding-left:315px;">
      <router-view></router-view>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  data() {
    return {
      drawer: true,
      items: [
        {
          title: "Profile",
          icon: "account_circle",
          path: "profile"
        },
        {
          title: "Data",
          icon: "cloud",
          children: [
            { title: "Industry", path: "industry" },
            { title: "Function", path: "function" },
            { title: "Location", path: "location" },
            { title: "Category", path: "category" },
            { title: "Channel", path: "channel" }
          ]
        },
        {
          title: "Authorization",
          icon: "supervisor_account",
          children: [
            { title: "Role", path: "role" },
            { title: "Member", path: "member" }
          ]
        },
        {
          title: "Security",
          icon: "lock",
          children: [{ title: "Change Password", path: "changepassword" }]
        },
        {
          title: "Notification",
          icon: "notifications",
          path: "notification"
        }
      ],
      right: null
    };
  }
};
</script>

