<template>
  <v-dialog v-model="shown" fullscreen transition="dialog-bottom-transition">
    <v-card>
      <v-toolbar card fixed dense color="primary" dark>
        <v-toolbar-title>{{this.title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="shown=false">Cancel</v-btn>
        <v-btn flat @click.stop="onSubmit" :loading="loading">Save</v-btn>
      </v-toolbar>
      <br>
      <br>
      <v-form ref="form">
        <v-container fluid grid-list-lg class>
          <v-layout row wrap>
            <v-flex xs12 sm6 md4>
              <v-card>
                <v-toolbar dense>
                  <v-toolbar-title>Basic Information</v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                  <v-text-field v-model="item.name" label="Name" :rules="rules.name"></v-text-field>
                </v-card-text>
              </v-card>
            </v-flex>
            <v-flex xs12 sm6 md4></v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    shown: false,
    title: "Create Company",
    loading: false,
    item: {},
    rules: {
      name: [v => !!v || "Name is required"]
    }
  }),
  methods: {
    onSubmit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
      this.$emit("ok", {
        origin: this.origin,
        item: this.item,
        close: () => {
          this.shown = false;
          this.loading = false;
        }
      });
    },
    show({ item, title = "Create Company" } = {}) {
      if (item) {
        this.origin = item;
        this.item = { ...item };
      } else {
        this.origin = undefined;
        this.item = {};
      }
      this.title = title;
      this.shown = true;
      this.loading = false;
    }
  }
};
</script>