<template>
  <v-dialog v-model="shown" persistent scrollable>
    <v-card>
      <v-toolbar card color="primary" light>
        <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field flat hide-details solo prepend-inner-icon="search" label="Search" clearable></v-text-field>
        <v-btn flat dark @click.stop="$refs.company_dialog.show()">Create</v-btn>
      </v-toolbar>
      <v-card-text>
        <v-chip
          v-for="item in selected"
          :key="item.id"
          close
          small
          @input="selected.splice(selected.findIndex(x=>x.id === item.id), 1)"
        >{{item.name}}</v-chip>
        <v-data-table
          v-model="selected"
          :headers="headers"
          :items="data.items"
          :total-items="data.total"
          item-key="id"
          :rows-per-page-items="[10, 25, 50]"
          :loading="loading"
          :select-all="multiple"
          disable-initial-sort
          @update:pagination="loadItems"
        >
          <template slot="items" slot-scope="props">
            <td v-if="multiple">
              <v-checkbox v-model="props.selected" hide-details></v-checkbox>
            </td>
            <td>{{props.item.name}}</td>
            <td>
              <v-btn
                v-if="!multiple"
                small
                flat
                color="primary"
                @click.stop="onOk({selected:props.item})"
              >Select</v-btn>
            </td>
          </template>
        </v-data-table>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="shown=false">Cancel</v-btn>
        <v-btn flat @click.stop="onOk" color="primary" v-if="multiple">OK</v-btn>
      </v-card-actions>
    </v-card>
    <app-dialog-company ref="company_dialog" @ok="onCompanyOk"></app-dialog-company>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    shown: false,
    loading: false,
    title: "",
    multiple: false,
    data: {},
    selected: [],
    headers: [
      { text: "Name", value: "Name" },
      { text: "Actions", sortable: false }
    ]
  }),
  methods: {
    async loadItems({
      descending,
      page = 1,
      rowsPerPage = 10,
      sortBy,
      totalItems = 0
    } = {}) {
      this.loading = true;
      this.data = await this.$api.company.queryPage({
        query: {
          sort: descending ? "desc" : "asc",
          sortBy,
          page,
          size: rowsPerPage
        }
      });
      this.loading = false;
    },
    onOk({ selected } = {}) {
      this.$emit("ok", {
        items: this.items,
        selected: selected || this.selected,
        close: () => {
          this.shown = false;
        }
      });
    },
    show({
      title = "Company Select",
      items = [],
      selected = [],
      multiple = false
    } = {}) {
      this.shown = true;
      this.title = title;
      this.items = items;
      this.selected = selected;
      this.multiple = multiple;
    },
    async onCompanyOk({ item, close }) {
      await this.$api.company.create({ data: item });
      await this.loadItems();
      close();
    }
  }
};
</script>

<style>
</style>
