<template>
  <v-dialog v-model="shown" persistent width="600">
    <v-card>
      <v-toolbar card color="warning" light dense>
        <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
      </v-toolbar>
      <v-card-text>
        <v-list>
          <v-list-tile>
            <v-list-tile-avatar>
              <v-icon color="warning" large>warning</v-icon>
            </v-list-tile-avatar>
            <v-list-tile-content>
              <v-list-tile-title>{{content}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="shown=false">Cancel</v-btn>
        <v-btn flat @click.stop="onOk" color="warning" :loading="loading">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    shown: false,
    title: undefined,
    content: undefined,
    item: undefined,
    items: undefined,
    loading: false
  }),
  methods: {
    onOk() {
      this.loading = true;
      this.$emit("ok", {
        item: this.item,
        items: this.items,
        close: () => {
          this.shown = false;
          this.loading = false;
        }
      });
    },
    show({ title = "Warning", content, item, items } = {}) {
      this.title = title;
      this.item = item;
      this.items = items;
      this.shown = true;
      this.loading = false;

      if (!content) {
        if (item) this.content = "Are you sure delete this item?";
        if (items) this.content = "Are you sure delete these items?";
      }
    }
  }
};
</script>

<style>
</style>
