<template>
  <v-dialog v-model="shown" persistent width="600">
    <v-form name="form" ref="form" @submit.prevent="onSubmit">
      <v-card>
        <v-card-title class="title grey lighten-2">{{title}}</v-card-title>
        <v-card-text>
          <v-text-field
            label="Enterprise Name"
            v-model="item.name"
            :rules="rules.name"
            :disabled="loading"
          ></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.stop="shown=false">Cancel</v-btn>
          <v-btn flat color="primary" type="submit" :loading="loading">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
const default_item = {
  name: undefined
};

export default {
  data: () => ({
    shown: false,
    title: undefined,
    loading: false,
    origin: undefined,
    item: { ...default_item },
    rules: {
      name: [v => !!v || "Enterprise Name is required"]
    }
  }),
  methods: {
    onSubmit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
      this.$emit("ok", {
        origin: this.origin,
        item: this.item,
        close: () => {
          this.shown = false;
          this.loading = false;
        }
      });
    },
    show({ item } = {}) {
      if (item) {
        this.origin = item;
        this.item = { ...item };
        this.title = `Edit Enterprise - ${item.name}`;
      } else {
        this.origin = undefined;
        this.item = { ...default_item };
        this.title = "Create Enterprise";
      }
      this.shown = true;
      this.loading = false;
    }
  }
};
</script>

<style>
</style>
