<template>
  <v-dialog v-model="shown" persistent scrollable width="800">
    <v-card>
      <v-toolbar card color="primary" light>
        <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-text-field flat hide-details solo prepend-inner-icon="search" label="Search" clearable></v-text-field>
      </v-toolbar>
      <v-card-text>
        <v-treeview
          :items="items"
          v-model="selected"
          item-key="id"
          hoverable
          transition
          :selectable="multiple"
        >
          <template slot="append" slot-scope="{ item, open, leaf }">
            <v-btn
              v-if="!multiple"
              small
              flat
              color="primary"
              @click.stop="onOk({selected:[item.id]})"
            >Select</v-btn>
          </template>
        </v-treeview>
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn flat @click.stop="shown=false">Cancel</v-btn>
        <v-btn flat @click.stop="onOk" color="primary" v-if="multiple">OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  data: () => ({
    shown: false,
    title: "",
    multiple: false,
    items: [],
    selected: []
  }),
  methods: {
    onOk({ selected } = {}) {
      this.$emit("ok", {
        items: this.items,
        selected: selected || this.selected,
        close: () => {
          this.shown = false;
        }
      });
    },
    show({
      title = "Node Select",
      items = [],
      selected = [],
      multiple = false
    } = {}) {
      this.shown = true;
      this.title = title;
      this.items = items;
      this.selected = selected;
      this.multiple = multiple;
    }
  }
};
</script>

<style>
</style>
