<template>
  <v-dialog v-model="shown" persistent width="600">
    <v-form name="form" ref="form" @submit.prevent="onSubmit">
      <v-card>
        <v-toolbar card color="primary" light dense>
          <v-toolbar-title class="white--text">{{title}}</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-text-field label="Parent Node" :value="parentName" disabled></v-text-field>
          <v-text-field label="Name" v-model="item.name" :disabled="loading" :rules="rules.name"></v-text-field>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn flat @click.stop="shown=false">Cancel</v-btn>
          <v-btn flat color="primary" type="submit" :loading="loading">OK</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
const default_item = {
  name: undefined
};

export default {
  data: () => ({
    shown: false,
    title: "",
    loading: false,
    origin: undefined,
    item: { ...default_item },
    parent: undefined,
    rules: {
      name: [v => !!v || "Name is required"]
    }
  }),
  computed: {
    parentName() {
      const { name } = this.parent || { name: "Root" };
      return name;
    }
  },
  methods: {
    onSubmit() {
      if (!this.$refs.form.validate()) return;
      this.loading = true;
      this.$emit("ok", {
        origin: this.origin,
        item: this.item,
        parent: this.parent,
        close: () => {
          this.shown = false;
          this.loading = false;
        }
      });
    },
    show({ item, parent, title = "Node Dialog" } = {}) {
      if (item) {
        this.origin = item;
        this.item = { ...item };
      } else {
        this.origin = undefined;
        this.item = { ...default_item };
      }
      this.title = title;
      this.parent = parent;
      this.shown = true;
      this.loading = false;
    }
  }
};
</script>
